*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  /* background-color: #323946; */
}
#tvchart{
   margin-top:200px;
   margin-bottom:100px;
}
body {
  background-color: #323946;
}
#table_container {
  padding: 20px;
  background-color: #f2f2f2;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  background-color: #ddd;
  font-weight: bold;
  text-align: left;
}

.td {
  padding: 8px;
  border: 1px solid #ddd;
}
:root
    {
  --bg-color:#1f242d;
 --second-bg-color:#323946;
  --text-color: #fff;
  --main-color: #0ef;
    }

#loading_container{
  display: none; 
  width: 200px;
  margin-top: 200px;
  margin-left: 45%;
  margin-right: auto;
}
.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
  }
  .header {
    position: fixed;
     top:0;
     left: 0;
    width: 100%;
    padding: 0.7rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
   }
   .logo {
    font-size: 2.5rem;
    color: var(--text-color) ;
    font-weight: 600;
    cursor:default;
   }
   #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color) ;
    display: none;
    }
    .navbar a{
      font-size: 1.7rem;
      color: var(--text-color) ;
      margin-left: 4rem;
      transition: .3s;
      text-decoration: none;
      }
      .navbar a:hover,
.navbar a.active {
color: var(--main-color) ;
}
    
.chart-container {
  margin-left: 60px; /* set the left margin to 100 pixels */
  margin-right:100px;
}
#company_container{
  margin-top: 300px;
  margin-left: 32%;
  margin-right: auto;
}
.btn1{
  color: #0f1011 !important;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;

  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}
  
  .btn1:hover{
    box-shadow:none;
    /* color:black; */
  
 }
 

#chartContainer{
  height: 300px; 
  width: 70%; 
  margin-top: 5%;
  margin-left: 13%;
  margin-right: auto;
}

#table_container{
  margin-left: 120px;
  margin-top: 5%;
  width: 80%;
  margin-right: 100px;
  visibility: hidden;
}

#para{
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-bottom: 1%;
}

#download_data{
  display: none;
  margin-top: 20px;
  margin-left: 42%;
  margin-right: auto;
}