*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  /* background-color: #323946; */
}
body {
  background-color: #f2f2f2;
}
:root
    {
  --bg-color:#1f242d;
 --second-bg-color:#323946;
  --text-color: #fff;
  --main-color: #0ef;
    }

#loading_container{
  display: none; 
  width: 200px;
  margin-top: 200px;
  margin-left: 45%;
  margin-right: auto;
}
.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
  }
  .header {
    position: fixed;
     top:0;
     left: 0;
    width: 100%;
    padding: 0.7rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
   }
   .logo {
    font-size: 2.5rem;
    color: var(--text-color) ;
    font-weight: 600;
    cursor:default;
   }
   #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color) ;
    display: none;
    }
    .navbar a{
      font-size: 1.7rem;
      color: var(--text-color) ;
      margin-left: 4rem;
      transition: .3s;
      text-decoration: none;
      }
      .navbar a:hover,
.navbar a.active {
color: var(--main-color) ;
}
    

#company_container{
  margin-top: 300px;
  margin-left: 32%;
  margin-right: auto;
}

#chartContainer{
  height: 300px; 
  width: 70%; 
  margin-top: 5%;
  margin-left: 13%;
  margin-right: auto;
}

#table_container{
  margin-left: 30px;
  margin-top: 5%;
  width: 100%;
  margin-right: 20px;
}

#para{
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-bottom: 1%;
}

#download_data{
  display: none;
  margin-top: 20px;
  margin-left: 42%;
  margin-right: auto;
}
